# grocery_sales_forecasting_storewise

This baseline model is non-parametric. This model is simply average of history sale (from 2013 to 2016 of the same day.)

In [1]:
# Import libraries necessary for this project
import os
import pickle
import numpy as np
import pandas as pd
from sklearn.model_selection import ShuffleSplit, train_test_split, GridSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn import linear_model
from sklearn.ensemble import GradientBoostingRegressor
from sklearn import preprocessing
# from sklearn_pandas import DataFrameMapper
from sklearn.decomposition import PCA
from sklearn.feature_selection import SelectKBest, mutual_info_regression, f_regression
from sklearn.pipeline import FeatureUnion

from xgboost import XGBRegressor

from IPython.display import display
import matplotlib.pyplot as plt
import datetime as dt
from time import time
import sys
from collections import OrderedDict
from fbprophet import Prophet
import calendar

types = {'id': 'int32', 'item_nbr': 'int32', 'store_nbr': 'int8', 'onpromotion': bool}

%matplotlib inline

## import data

There are 19 items appear in training data, but not in testing data; 68 items appear only testing data, not in training data.

In [2]:
# from sklearn.preprocessing import OneHotEncoder
def pre_process(feature_raw):

    items = pd.read_csv("input/items.csv", dtype={'perishable': np.dtype('int8')})
    feature_raw= pd.merge(feature_raw,items, right_on='item_nbr',left_on='item_nbr',how='left')

    feature_raw['onpromotion'].fillna(False, inplace = True)
    feature_raw['onpromotion'] = feature_raw['onpromotion'].map({False : 0, True : 1})
    feature_raw['onpromotion'] = feature_raw['onpromotion'].astype('int8')

    if feature_raw.isnull().values.any():
        print("There is NaN before one-hot-encoding!")
    else:
        print("There is no NaN before one-hot-encoding")    

    feature_one_hot_coded = pd.get_dummies(feature_raw, columns = ['item_nbr', 'family', 'class'])

    if feature_one_hot_coded.isnull().values.any():
        print("There is NaN after one-hot-encoding!")
    else:
        print("There is no NaN after one-hot-encoding")
        
    return feature_one_hot_coded

In [3]:
def nan_alarm(df):
    if df.isnull().values.any():
        print("There is NaN")
    else:
        print("There is no NaN")
    return

def data_preprocess(store):
    ### Load training data and testing data, and put them together for encoding ###
    filename_train = 'train_store_' + str(store) + '.csv'
    train_data_raw = pd.read_csv('input_each_store/' + filename_train, usecols = [1,2,3,4,5],
                                 parse_dates=['date'], dtype=types, #skiprows=range(1,200000),
                                 infer_datetime_format = True,
                                 converters={'unit_sales':lambda u: float(u) if float(u)>0 else 0},)
    print("Raw training data has {} samples with {} features each.".format(*train_data_raw.shape))
    train_data_raw.dropna(inplace=True)
    
    filename_test = 'test_store_' + str(store) + '.csv'
    test_data_raw = pd.read_csv('input_each_store/' + filename_test, usecols=[1,2,3,4], parse_dates=['date'], dtype=types)
    print("Public testing data has {} samples with {} features each.".format(*test_data_raw.shape))
    test_data_raw.dropna(inplace=True)

    data_all = pd.concat([train_data_raw.drop('unit_sales', axis=1), test_data_raw])

    ### Extend training data information ###
    items = pd.read_csv("input/items.csv", dtype={'perishable': np.dtype('int8')})
    items.dropna(inplace=True)
    data_all= pd.merge(data_all,items, right_on='item_nbr',left_on='item_nbr',how='left')
    
    transactions = pd.read_csv("input/transactions.csv", parse_dates=['date'])
    transcations_store = transactions[transactions['store_nbr']==store].dropna()
    transaction_pred = predict_transactions(store)
    transactins_all = pd.concat([transcations_store.drop('store_nbr', axis=1), transaction_pred])    
    data_all = pd.merge(data_all, transactins_all, left_on=['date'], right_on=['date'], how='left')    
    data_all.drop(['store_nbr'], axis = 1, inplace = True)

    ### Encoding ###
#     #One_hot encoding
#     feature_one_hot_coded = pd.get_dummies(data_all, columns = ['item_nbr', 'family', 'class'])
    #Binary encoding
    categorical_items = ['item_nbr', 'family', 'class']
    for col in categorical_items:
        binaryEncode = preprocessing.LabelBinarizer().fit_transform(data_all[col]).astype(np.int8)
        df_temp = pd.DataFrame(binaryEncode)
        df_temp = df_temp.add_prefix(col)
        data_all = pd.concat([data_all, df_temp], axis=1)
        del data_all[col]
    data_all['onpromotion'] = preprocessing.Binarizer().fit_transform(data_all['onpromotion'].values.reshape(-1,1)).astype(np.int8)
    data_all['perishable'] = data_all['perishable'].astype(np.int8)
    data_all['transactions'] = preprocessing.MinMaxScaler().fit_transform(data_all['transactions'].values.reshape(-1,1))
        
    
    ### Separate training out to train PCA ####
    train_data = data_all[:train_data_raw.shape[0]].copy()
    train_target = train_data_raw['unit_sales'].apply(np.log1p).values
    ### Feature Selection: PCA ####
    pca = PCA(n_components = 500).fit(train_data.drop('date', axis=1), train_target)
    importances = pca.explained_variance_ratio_
#     feature_plot(importances)
#     selection = SelectKBest(f_regression,k=1)
#     combined_features = FeatureUnion([("pca", pca), ("univ_select", selection)]).fit(train_data, train_target)
    features = pca.transform(data_all.drop('date', axis=1))
    
    ### Concat extra column and target column to training data for returning as a whole ###
    columns_keeped = ['date', 'onpromotion', 'perishable', 'transactions']
    features_processed = pd.DataFrame(features).add_prefix('pca')
    features_processed[columns_keeped] = data_all[columns_keeped]
    
    train_processed = features_processed[:train_data_raw.shape[0]].copy()
    train_processed['unit_sales'] = train_target
    test_processed = features_processed[train_data_raw.shape[0]:].copy()
    
    return [train_processed, test_processed]

Evaluation metric: Normalized Weighted Root Mean Squared Logarithmic Error (NWRMSLE)

In [4]:
def store_loc_search(store):
    location = {}
    
    stores_raw = pd.read_csv('input/stores.csv')
    location['city'] = stores_raw.loc[stores_raw['store_nbr']==store, 'city'].values[0]
    location['state'] = stores_raw.loc[stores_raw['store_nbr']==store, 'state'].values[0]
    return location

def holidays(store):
    #holidays_events happens at the region of a store
    city,state = store_loc_search(store)
    holidays_events_raw = pd.read_csv('input/holidays_events.csv', parse_dates=['date'])
    mask = (holidays_events_raw['date'] >= '2015-01-01') & (holidays_events_raw['transferred'] == False)&(
        ((holidays_events_raw['locale']=='Local')&(holidays_events_raw['locale_name']==city))|
        ((holidays_events_raw['locale']=='Reginal')&(holidays_events_raw['locale_name']==state))|
        (holidays_events_raw['locale']=='National')
    )
    holidays_events = pd.DataFrame({
        'holiday':holidays_events_raw[mask]['type'],
        'ds':holidays_events_raw[mask]['date'],
        'lower_window':0,
        'upper_window':1,
    })
    
    #payoff days: Wages in the public sector are paid every two weeks on the 15 th and on the last day of the month.
    payoff_dates = []
    for year in range(2015, 2018):
        for month in range(1,13):
            payoff_dates.append(str(year)+'-'+str(month)+'-15')
            payoff_dates.append(str(year)+'-'+str(month)+'-'+str(calendar.monthrange(year,month)[1]))
    payoffs = pd.DataFrame({
      'holiday': 'playoff',
      'ds': pd.to_datetime(payoff_dates),
      'lower_window': 0,
      'upper_window': 1,
    })
    
    earthquake = pd.DataFrame({
      'holiday': 'earthquake',
      'ds': pd.to_datetime(['2016-04-16']),
      'lower_window': 0,
      'upper_window': 14,
    })
    
    #Put holiday_events and payoff_dates together
    holidays = pd.concat((holidays_events, payoffs, earthquake)).fillna(0).sort_values(['ds'])
    return holidays

def transactions(store):
    transactions_raw = pd.read_csv('input/transactions.csv', parse_dates = ['date'])
    transactions = transactions_raw.loc[transactions_raw['store_nbr']==store].copy()
    transactions.drop(['store_nbr'], axis=1, inplace=True)
    transactions = transactions.rename(columns={'date': 'ds','transactions': 'y'})
    return transactions

def predict_transactions(store):
    phophet_model = Prophet(holidays=holidays(store))
#     phophet_model.add_seasonality(name='monthly', period=30.5, fourier_order=5)
    transactions_store = transactions(store)
    phophet_model.fit(transactions_store)
    future = phophet_model.make_future_dataframe(periods=16, freq='d')
    forecast = phophet_model.predict(future)
    transaction_pred = forecast.loc[forecast['ds']>='2017-08-16',['ds', 'yhat']]
    transaction_pred = transaction_pred.rename(columns={'ds': 'date', 'yhat': 'transactions'})
    return transaction_pred

In [5]:
from sklearn.metrics import make_scorer, mean_squared_error
def nwrmsle(ground_truth, predictions, w):
    return mean_squared_error(ground_truth, predictions, sample_weight=w)**0.5

nwrmsle_scorer = make_scorer(score_func=mean_squared_error, greater_is_better=False)

In [6]:
def train_predict(learner, data):
    result = {}
    y_train = data['unit_sales']; X_train = data.drop(['date','unit_sales'], axis=1)
    w_train = data['perishable'].apply(lambda x: 1.25 if x else 1).values
#     nwrmsle_scorer = make_scorer(score_func=mean_squared_error, greater_is_better=False, sample_weight=w_train)

    params = {'max_depth':[25], 'n_estimators':[10]}
#     params_test = {'max_depth':[25], 'n_estimators':[40]}
    grid_obj = GridSearchCV(learner, param_grid = params, scoring = 'neg_mean_squared_error')
    grid_fit = grid_obj.fit(X_train, y_train, sample_weight=w_train)
    
    result['learner'] = grid_fit.best_estimator_

    return result

In [ ]:
from xgboost.sklearn import XGBRegressor  
import scipy.stats as st
from sklearn.model_selection import RandomizedSearchCV

def train_predict_RS(learner, data):
    result = {}
    y_train = data['unit_sales']; X_train = data.drop(['date','unit_sales'], axis=1)
    w_train = data['perishable'].apply(lambda x: 1.25 if x else 1).values
#     nwrmsle_scorer = make_scorer(score_func=mean_squared_error, greater_is_better=False, sample_weight=w_train)

    one_to_left = st.beta(10, 1)  
    from_zero_positive = st.expon(0, 50)

    params = {  
        "n_estimators": st.randint(3, 40),
        "max_depth": st.randint(3, 40),
        "learning_rate": st.uniform(0.05, 0.4),
        "colsample_bytree": one_to_left,
        "subsample": one_to_left,
        "gamma": st.uniform(0, 10),
        'reg_alpha': from_zero_positive,
        "min_child_weight": from_zero_positive,
    }

    gs = RandomizedSearchCV(xgbreg, params, n_jobs=1, scoring = 'neg_mean_squared_error')  
    gs.fit(X_train, y_train, sample_weight=w_train)  
    
    result['learner'] = gs.best_model_ 

    return result

## DecisionTreeRegressor

In [ ]:
def predict_submission(model, test_processed, store):
    
    predictions = model.predict(test_processed.drop('date', axis=1))
    
    filename_test = 'test_store_' + str(store) + '.csv'
    test_data_raw = pd.read_csv('input_each_store/' + filename_test, parse_dates=['date'], dtype=types)
    test_data_raw['unit_sales']= [np.expm1(p) for p in predictions]
    display(test_data_raw.head(5))
#     test_store.fillna(0, inplace=True)
    return test_data_raw[['id', 'unit_sales']].set_index(['id'])

In [ ]:
results = {}
store_list = range(1,55)
predictions = pd.DataFrame(0, index = range(125497040, 128867504), columns = ['unit_sales'])
predictions.index.name = 'id'

# regressor_A = DecisionTreeRegressor(random_state = 36, max_depth = 50)
# regressor_B = linear_model.LinearRegression()
# params_gbr = {'n_estimators': 500, 'max_depth': 4, 'min_samples_split':2, 'learning_rate': 0.01}
# regressor_C = GradientBoostingRegressor(**params_gbr)
# params_xgb = {'max_depth':50, 'n_estimators':100, 'objective':'reg:linear'}
# regressor_D = XGBRegressor(**params_xgb)

regressor = XGBRegressor(objective='reg:linear', nthreads=-1)
reg_name = regressor.__class__.__name__

file_submission_temp = reg_name + dt.datetime.today().strftime("%Y-%m-%d") + '_temp.csv'
file_submission = reg_name + dt.datetime.today().strftime("%Y-%m-%d") + '.csv'

for store in store_list:
    print("------------------------------")
    start = time()
    print("Start Store {}:".format(store))
    train_processed, test_processed = data_preprocess(store)
    print("Processed training set has {} samples with {} variables.".format(*train_processed.shape))
    
    
    results[store]= train_predict(regressor, train_processed)
    prediction_store = predict_submission(results[store]['learner'], test_processed, store)
    
    predictions.loc[prediction_store.index] = prediction_store 
    if not os.path.isfile(file_submission_temp):
        prediction_store.to_csv(file_submission_temp, float_format='%.3f')
    else:
        prediction_store.to_csv(file_submission_temp, mode = 'a', header = False, float_format='%.3f')
    print("Store {} is complete in {:.2f} min.".format(store, (time()-start)/60))

predictions.to_csv(file_submission, float_format='%.3f')

------------------------------
Start Store 1:
Raw training data has 208848 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 208848 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125497040 2017-08-16          1     96995        False    1.120579
1  125497041 2017-08-16          1     99197        False    1.163123
2  125497042 2017-08-16          1    103501        False    1.607258
3  125497043 2017-08-16          1    103520        False    1.715637
4  125497044 2017-08-16          1    103665        False    2.401586

Store 1 is complete in 26.94 min.
------------------------------
Start Store 2:
Raw training data has 243505 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 243505 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125500941 2017-08-16          2     96995        False    0.942204
1  125500942 2017-08-16          2     99197        False    1.060657
2  125500943 2017-08-16          2    103501        False    0.971417
3  125500944 2017-08-16          2    103520        False    1.368507
4  125500945 2017-08-16          2    103665        False    1.612378

Store 2 is complete in 31.32 min.
------------------------------
Start Store 3:
Raw training data has 287604 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 287604 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125504842 2017-08-16          3     96995        False    1.071338
1  125504843 2017-08-16          3     99197        False    1.780683
2  125504844 2017-08-16          3    103501        False    1.231672
3  125504845 2017-08-16          3    103520        False    2.437731
4  125504846 2017-08-16          3    103665        False    1.496110

Store 3 is complete in 35.37 min.
------------------------------
Start Store 4:
Raw training data has 230786 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 230786 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125508743 2017-08-16          4     96995        False    0.952767
1  125508744 2017-08-16          4     99197        False    1.077086
2  125508745 2017-08-16          4    103501        False    1.144142
3  125508746 2017-08-16          4    103520        False    1.495278
4  125508747 2017-08-16          4    103665        False    1.286022

Store 4 is complete in 30.36 min.
------------------------------
Start Store 5:
Raw training data has 211787 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 211787 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125512644 2017-08-16          5     96995        False    1.002715
1  125512645 2017-08-16          5     99197        False    1.100983
2  125512646 2017-08-16          5    103501        False    1.188304
3  125512647 2017-08-16          5    103520        False    1.711152
4  125512648 2017-08-16          5    103665        False    2.050213

Store 5 is complete in 27.18 min.
------------------------------
Start Store 6:
Raw training data has 254769 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 254769 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125516545 2017-08-16          6     96995        False    1.055046
1  125516546 2017-08-16          6     99197        False    1.050140
2  125516547 2017-08-16          6    103501        False    1.128350
3  125516548 2017-08-16          6    103520        False    1.181387
4  125516549 2017-08-16          6    103665        False    1.398850

Store 6 is complete in 32.50 min.
------------------------------
Start Store 7:
Raw training data has 244349 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 244349 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125520446 2017-08-16          7     96995        False    1.228514
1  125520447 2017-08-16          7     99197        False    1.984779
2  125520448 2017-08-16          7    103501        False    1.368511
3  125520449 2017-08-16          7    103520        False    1.787331
4  125520450 2017-08-16          7    103665        False    3.438759

Store 7 is complete in 30.75 min.
------------------------------
Start Store 8:
Raw training data has 270740 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 270740 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125524347 2017-08-16          8     96995        False    1.234613
1  125524348 2017-08-16          8     99197        False    1.330498
2  125524349 2017-08-16          8    103501        False    1.254589
3  125524350 2017-08-16          8    103520        False    3.107727
4  125524351 2017-08-16          8    103665        False    1.979483

Store 8 is complete in 35.05 min.
------------------------------
Start Store 9:
Raw training data has 234243 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 234243 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125528248 2017-08-16          9     96995        False    1.376090
1  125528249 2017-08-16          9     99197        False    1.376090
2  125528250 2017-08-16          9    103501        False    3.478259
3  125528251 2017-08-16          9    103520        False    1.428703
4  125528252 2017-08-16          9    103665        False    1.647216

Store 9 is complete in 29.87 min.
------------------------------
Start Store 10:
Raw training data has 142571 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 142571 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125532149 2017-08-16         10     96995        False    1.056559
1  125532150 2017-08-16         10     99197        False    1.052754
2  125532151 2017-08-16         10    103501        False    1.392852
3  125532152 2017-08-16         10    103520        False    1.035388
4  125532153 2017-08-16         10    103665        False    1.292152

Store 10 is complete in 17.78 min.
------------------------------
Start Store 11:
Raw training data has 218947 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 218947 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125536050 2017-08-16         11     96995        False    1.190121
1  125536051 2017-08-16         11     99197        False    1.190121
2  125536052 2017-08-16         11    103501        False    2.361467
3  125536053 2017-08-16         11    103520        False    1.373855
4  125536054 2017-08-16         11    103665        False    1.295228

Store 11 is complete in 27.82 min.
------------------------------
Start Store 12:
Raw training data has 162223 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 162223 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125539951 2017-08-16         12     96995        False    1.125280
1  125539952 2017-08-16         12     99197        False    1.125280
2  125539953 2017-08-16         12    103501        False    0.888926
3  125539954 2017-08-16         12    103520        False    1.190673
4  125539955 2017-08-16         12    103665        False    0.965455

Store 12 is complete in 20.42 min.
------------------------------
Start Store 13:
Raw training data has 143336 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 143336 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125543852 2017-08-16         13     96995        False    1.046768
1  125543853 2017-08-16         13     99197        False    1.034294
2  125543854 2017-08-16         13    103501        False    1.118897
3  125543855 2017-08-16         13    103520        False    1.182209
4  125543856 2017-08-16         13    103665        False    1.360749

Store 13 is complete in 17.96 min.
------------------------------
Start Store 14:
Raw training data has 154049 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 154049 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125547753 2017-08-16         14     96995        False    1.167467
1  125547754 2017-08-16         14     99197        False    1.167467
2  125547755 2017-08-16         14    103501        False    1.906637
3  125547756 2017-08-16         14    103520        False    1.313873
4  125547757 2017-08-16         14    103665        False    1.903644

Store 14 is complete in 19.51 min.
------------------------------
Start Store 15:
Raw training data has 162910 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 162910 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125551654 2017-08-16         15     96995        False    0.956764
1  125551655 2017-08-16         15     99197        False    0.956764
2  125551656 2017-08-16         15    103501        False    2.205944
3  125551657 2017-08-16         15    103520        False    1.112561
4  125551658 2017-08-16         15    103665        False    2.739356

Store 15 is complete in 20.64 min.
------------------------------
Start Store 16:
Raw training data has 142377 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 142377 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125555555 2017-08-16         16     96995        False    1.042794
1  125555556 2017-08-16         16     99197        False    1.025084
2  125555557 2017-08-16         16    103501        False    1.227754
3  125555558 2017-08-16         16    103520        False    1.294777
4  125555559 2017-08-16         16    103665        False    1.034351

Store 16 is complete in 18.04 min.
------------------------------
Start Store 17:
Raw training data has 193000 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 193000 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125559456 2017-08-16         17     96995        False    1.330046
1  125559457 2017-08-16         17     99197        False    1.316242
2  125559458 2017-08-16         17    103501        False    2.370831
3  125559459 2017-08-16         17    103520        False    1.365765
4  125559460 2017-08-16         17    103665        False    1.800602

Store 17 is complete in 24.41 min.
------------------------------
Start Store 18:
Raw training data has 207687 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 207687 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125563357 2017-08-16         18     96995        False    1.241840
1  125563358 2017-08-16         18     99197        False    1.101808
2  125563359 2017-08-16         18    103501        False    1.986069
3  125563360 2017-08-16         18    103520        False    1.201216
4  125563361 2017-08-16         18    103665        False    1.225232

Store 18 is complete in 27.59 min.
------------------------------
Start Store 19:
Raw training data has 159681 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 159681 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125567258 2017-08-16         19     96995        False    1.154951
1  125567259 2017-08-16         19     99197        False    1.154951
2  125567260 2017-08-16         19    103501        False    1.643070
3  125567261 2017-08-16         19    103520        False    1.303693
4  125567262 2017-08-16         19    103665        False    1.122093

Store 19 is complete in 20.27 min.
------------------------------
Start Store 20:
Raw training data has 219986 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 219986 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125571159 2017-08-16         20     96995        False    0.954907
1  125571160 2017-08-16         20     99197        False    1.334630
2  125571161 2017-08-16         20    103501        False    2.353382
3  125571162 2017-08-16         20    103520        False    1.226945
4  125571163 2017-08-16         20    103665        False    1.676224

Store 20 is complete in 29.32 min.
------------------------------
Start Store 21:
Raw training data has 206535 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 206535 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125575060 2017-08-16         21     96995        False    1.141739
1  125575061 2017-08-16         21     99197        False    1.141739
2  125575062 2017-08-16         21    103501        False    2.341856
3  125575063 2017-08-16         21    103520        False    1.360969
4  125575064 2017-08-16         21    103665        False    1.685561

Store 21 is complete in 26.80 min.
------------------------------
Start Store 22:
Raw training data has 156364 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 156364 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125578961 2017-08-16         22     96995        False    1.106061
1  125578962 2017-08-16         22     99197        False    1.106061
2  125578963 2017-08-16         22    103501        False    1.081428
3  125578964 2017-08-16         22    103520        False    1.538387
4  125578965 2017-08-16         22    103665        False    1.223724

Store 22 is complete in 19.94 min.
------------------------------
Start Store 23:
Raw training data has 191481 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 191481 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125582862 2017-08-16         23     96995        False    1.148266
1  125582863 2017-08-16         23     99197        False    1.143456
2  125582864 2017-08-16         23    103501        False    1.214110
3  125582865 2017-08-16         23    103520        False    1.322172
4  125582866 2017-08-16         23    103665        False    1.298689

Store 23 is complete in 24.82 min.
------------------------------
Start Store 24:
Raw training data has 241899 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 241899 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125586763 2017-08-16         24     96995        False    1.239739
1  125586764 2017-08-16         24     99197        False    1.343526
2  125586765 2017-08-16         24    103501        False    1.084954
3  125586766 2017-08-16         24    103520        False    2.161493
4  125586767 2017-08-16         24    103665        False    2.206414

Store 24 is complete in 32.20 min.
------------------------------
Start Store 25:
Raw training data has 174533 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 174533 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125590664 2017-08-16         25     96995        False    0.865022
1  125590665 2017-08-16         25     99197        False    1.354473
2  125590666 2017-08-16         25    103501        False    1.129048
3  125590667 2017-08-16         25    103520        False    1.103071
4  125590668 2017-08-16         25    103665        False    1.533614

Store 25 is complete in 22.63 min.
------------------------------
Start Store 26:
Raw training data has 142106 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 142106 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125594565 2017-08-16         26     96995        False    0.914825
1  125594566 2017-08-16         26     99197        False    0.974701
2  125594567 2017-08-16         26    103501        False    1.393199
3  125594568 2017-08-16         26    103520        False    1.167585
4  125594569 2017-08-16         26    103665        False    0.942076

Store 26 is complete in 18.40 min.
------------------------------
Start Store 27:
Raw training data has 221442 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 221442 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125598466 2017-08-16         27     96995        False    0.931259
1  125598467 2017-08-16         27     99197        False    1.032639
2  125598468 2017-08-16         27    103501        False    1.127042
3  125598469 2017-08-16         27    103520        False    1.382920
4  125598470 2017-08-16         27    103665        False    1.292035

Store 27 is complete in 29.08 min.
------------------------------
Start Store 28:
Raw training data has 207768 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 207768 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125602367 2017-08-16         28     96995        False    1.129505
1  125602368 2017-08-16         28     99197        False    1.129505
2  125602369 2017-08-16         28    103501        False    4.009640
3  125602370 2017-08-16         28    103520        False    1.181893
4  125602371 2017-08-16         28    103665        False    1.304785

Store 28 is complete in 26.97 min.
------------------------------
Start Store 29:
Raw training data has 204653 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 204653 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125606268 2017-08-16         29     96995        False    1.074229
1  125606269 2017-08-16         29     99197        False    1.163137
2  125606270 2017-08-16         29    103501        False    3.611636
3  125606271 2017-08-16         29    103520        False    1.239995
4  125606272 2017-08-16         29    103665        False    1.979020

Store 29 is complete in 26.77 min.
------------------------------
Start Store 30:
Raw training data has 136283 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 136283 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125610169 2017-08-16         30     96995        False    1.008588
1  125610170 2017-08-16         30     99197        False    1.014030
2  125610171 2017-08-16         30    103501        False    2.008214
3  125610172 2017-08-16         30    103520        False    1.044742
4  125610173 2017-08-16         30    103665        False    1.388272

Store 30 is complete in 17.08 min.
------------------------------
Start Store 31:
Raw training data has 199012 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 199012 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125614070 2017-08-16         31     96995        False    1.324399
1  125614071 2017-08-16         31     99197        False    1.287258
2  125614072 2017-08-16         31    103501        False    2.498330
3  125614073 2017-08-16         31    103520        False    1.097127
4  125614074 2017-08-16         31    103665        False    1.535002

Store 31 is complete in 25.82 min.
------------------------------
Start Store 32:
Raw training data has 112284 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 112284 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125617971 2017-08-16         32     96995        False    0.873965
1  125617972 2017-08-16         32     99197        False    0.964855
2  125617973 2017-08-16         32    103501        False    1.127663
3  125617974 2017-08-16         32    103520        False    0.972267
4  125617975 2017-08-16         32    103665        False    1.348449

Store 32 is complete in 14.11 min.
------------------------------
Start Store 33:
Raw training data has 162142 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 162142 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125621872 2017-08-16         33     96995        False    1.187899
1  125621873 2017-08-16         33     99197        False    1.187899
2  125621874 2017-08-16         33    103501        False    1.665874
3  125621875 2017-08-16         33    103520        False    1.209452
4  125621876 2017-08-16         33    103665        False    1.285895

Store 33 is complete in 20.47 min.
------------------------------
Start Store 34:
Raw training data has 189936 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 189936 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125625773 2017-08-16         34     96995        False    1.000319
1  125625774 2017-08-16         34     99197        False    1.018409
2  125625775 2017-08-16         34    103501        False    2.295691
3  125625776 2017-08-16         34    103520        False    1.313813
4  125625777 2017-08-16         34    103665        False    1.524673

Store 34 is complete in 24.82 min.
------------------------------
Start Store 35:
Raw training data has 116990 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 116990 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125629674 2017-08-16         35     96995        False    1.032469
1  125629675 2017-08-16         35     99197        False    1.032469
2  125629676 2017-08-16         35    103501        False    1.432098
3  125629677 2017-08-16         35    103520        False    1.023347
4  125629678 2017-08-16         35    103665        False    1.080667

Store 35 is complete in 14.65 min.
------------------------------
Start Store 36:
Raw training data has 191947 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 191947 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125633575 2017-08-16         36     96995        False    0.990285
1  125633576 2017-08-16         36     99197        False    1.072796
2  125633577 2017-08-16         36    103501        False    2.465910
3  125633578 2017-08-16         36    103520        False    1.099339
4  125633579 2017-08-16         36    103665        False    2.943572

Store 36 is complete in 25.22 min.
------------------------------
Start Store 37:
Raw training data has 233889 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 233889 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125637476 2017-08-16         37     96995        False    1.247721
1  125637477 2017-08-16         37     99197        False    1.493340
2  125637478 2017-08-16         37    103501        False    1.280395
3  125637479 2017-08-16         37    103520        False    2.067805
4  125637480 2017-08-16         37    103665        False    2.347565

Store 37 is complete in 31.37 min.
------------------------------
Start Store 38:
Raw training data has 224527 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 224527 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125641377 2017-08-16         38     96995        False    1.615034
1  125641378 2017-08-16         38     99197        False    1.289995
2  125641379 2017-08-16         38    103501        False    1.152967
3  125641380 2017-08-16         38    103520        False    2.403326
4  125641381 2017-08-16         38    103665        False    2.814316

Store 38 is complete in 29.62 min.
------------------------------
Start Store 39:
Raw training data has 221521 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 221521 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125645278 2017-08-16         39     96995        False    1.102299
1  125645279 2017-08-16         39     99197        False    1.075010
2  125645280 2017-08-16         39    103501        False    2.441089
3  125645281 2017-08-16         39    103520        False    1.437806
4  125645282 2017-08-16         39    103665        False    1.663383

Store 39 is complete in 28.96 min.
------------------------------
Start Store 40:
Raw training data has 182768 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 182768 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125649179 2017-08-16         40     96995        False    1.133848
1  125649180 2017-08-16         40     99197        False    1.133848
2  125649181 2017-08-16         40    103501        False    3.896202
3  125649182 2017-08-16         40    103520        False    1.698675
4  125649183 2017-08-16         40    103665        False    1.726012

Store 40 is complete in 22.81 min.
------------------------------
Start Store 41:
Raw training data has 217040 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 217040 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125653080 2017-08-16         41     96995        False    1.069069
1  125653081 2017-08-16         41     99197        False    0.923738
2  125653082 2017-08-16         41    103501        False    1.692401
3  125653083 2017-08-16         41    103520        False    1.170951
4  125653084 2017-08-16         41    103665        False    2.074971

Store 41 is complete in 28.71 min.
------------------------------
Start Store 42:
Raw training data has 225662 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 225662 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125656981 2017-08-16         42     96995        False    0.951784
1  125656982 2017-08-16         42     99197        False    1.179508
2  125656983 2017-08-16         42    103501        False    1.389312
3  125656984 2017-08-16         42    103520        False    1.250522
4  125656985 2017-08-16         42    103665        False    1.865212

Store 42 is complete in 29.78 min.
------------------------------
Start Store 43:
Raw training data has 197762 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 197762 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125660882 2017-08-16         43     96995        False    1.217232
1  125660883 2017-08-16         43     99197        False    1.343442
2  125660884 2017-08-16         43    103501        False    3.033657
3  125660885 2017-08-16         43    103520        False    1.320563
4  125660886 2017-08-16         43    103665        False    1.494582

Store 43 is complete in 25.07 min.
------------------------------
Start Store 44:
Raw training data has 299269 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 299269 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125664783 2017-08-16         44     96995        False    1.180784
1  125664784 2017-08-16         44     99197        False    4.826815
2  125664785 2017-08-16         44    103501        False    2.224259
3  125664786 2017-08-16         44    103520        False    3.637619
4  125664787 2017-08-16         44    103665        False    5.001017

Store 44 is complete in 40.06 min.
------------------------------
Start Store 45:
Raw training data has 298271 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 298271 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125668684 2017-08-16         45     96995        False    1.064791
1  125668685 2017-08-16         45     99197        False    1.467592
2  125668686 2017-08-16         45    103501        False    2.672332
3  125668687 2017-08-16         45    103520        False    3.771999
4  125668688 2017-08-16         45    103665        False    2.201246

Store 45 is complete in 38.45 min.
------------------------------
Start Store 46:
Raw training data has 284565 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 284565 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125672585 2017-08-16         46     96995        False    1.021669
1  125672586 2017-08-16         46     99197        False    1.127011
2  125672587 2017-08-16         46    103501        False    2.485552
3  125672588 2017-08-16         46    103520        False    2.074370
4  125672589 2017-08-16         46    103665        False    2.203138

Store 46 is complete in 36.78 min.
------------------------------
Start Store 47:
Raw training data has 294805 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 294805 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125676486 2017-08-16         47     96995        False    1.131380
1  125676487 2017-08-16         47     99197        False    1.191619
2  125676488 2017-08-16         47    103501        False    1.493628
3  125676489 2017-08-16         47    103520        False    2.710120
4  125676490 2017-08-16         47    103665        False    1.400796

Store 47 is complete in 38.52 min.
------------------------------
Start Store 48:
Raw training data has 272022 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 272022 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125680387 2017-08-16         48     96995        False    1.035073
1  125680388 2017-08-16         48     99197        False    1.116838
2  125680389 2017-08-16         48    103501        False    1.301521
3  125680390 2017-08-16         48    103520        False    1.916659
4  125680391 2017-08-16         48    103665        False    1.703546

Store 48 is complete in 35.93 min.
------------------------------
Start Store 49:
Raw training data has 289288 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 289288 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125684288 2017-08-16         49     96995        False    1.214162
1  125684289 2017-08-16         49     99197        False    2.378755
2  125684290 2017-08-16         49    103501        False    1.929145
3  125684291 2017-08-16         49    103520        False    2.875890
4  125684292 2017-08-16         49    103665        False    2.951181

Store 49 is complete in 38.50 min.
------------------------------
Start Store 50:
Raw training data has 267595 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 267595 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125688189 2017-08-16         50     96995        False    0.977548
1  125688190 2017-08-16         50     99197        False    1.220152
2  125688191 2017-08-16         50    103501        False    1.578844
3  125688192 2017-08-16         50    103520        False    2.808048
4  125688193 2017-08-16         50    103665        False    2.383645

Store 50 is complete in 35.27 min.
------------------------------
Start Store 51:
Raw training data has 248694 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 248694 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125692090 2017-08-16         51     96995        False    1.213383
1  125692091 2017-08-16         51     99197        False    1.570763
2  125692092 2017-08-16         51    103501        False    1.186729
3  125692093 2017-08-16         51    103520        False    1.501497
4  125692094 2017-08-16         51    103665        False    2.594122

Store 51 is complete in 32.20 min.
------------------------------
Start Store 52:
Raw training data has 262071 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 262071 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125695991 2017-08-16         52     96995        False    1.102255
1  125695992 2017-08-16         52     99197        False    1.194305
2  125695993 2017-08-16         52    103501        False    1.086146
3  125695994 2017-08-16         52    103520        False    1.534993
4  125695995 2017-08-16         52    103665        False    1.596939

Store 52 is complete in 35.19 min.
------------------------------
Start Store 53:
Raw training data has 212280 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 212280 samples with 505 variables.

          id       date  store_nbr  item_nbr  onpromotion  unit_sales
0  125699892 2017-08-16         53     96995        False    1.102859
1  125699893 2017-08-16         53     99197        False    1.139604
2  125699894 2017-08-16         53    103501        False    1.404719
3  125699895 2017-08-16         53    103520        False    1.158220
4  125699896 2017-08-16         53    103665        False    1.155968

Store 53 is complete in 27.60 min.
------------------------------
Start Store 54:
Raw training data has 139988 samples with 5 features each.
Public testing data has 62416 samples with 4 features each.

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

Processed training set has 139988 samples with 505 variables.

In [ ]:
filename_result = reg_name+'_result.sav'
pickle.dump(results, open(filename_result, 'wb'))