# Favorita: Favorita Grocery Sales Forecasting

## Data exploration  
For each data file, I want to see:  
(1) some samples with display(df.head(5)) or display(df.tail(5))  
(2) A summary of this DataFrame with df.describe()  
(3) Check if there is missing data with df.isnull().values.any()  
(4) The number of unique values for each variable with display(df['column_name'].unique())

In [1]:
# Import libraries necessary for this project
import os.path
import pickle
import numpy as np
import pandas as pd
from sklearn.model_selection import ShuffleSplit
from IPython.display import display
import matplotlib.pyplot as plt

# Pretty display for notebooks
%matplotlib inline
# Loaddata() function is used to load two large csv files: train.csv and test.csv
def loaddata(filename, nrows=None):
    types = {'id': 'int32', 'date':'string_', 'item_nbr': 'int32', 'store_nbr': 'int16', 'unit_sales': 'float32', 'onpromotion': 'float64',}
    data = pd.read_csv(filename, dtype=types, infer_datetime_format=True)
    return data

### 1. Train.csv  
There are 125497040 items in this training data with 6 variables each.  
6 variables include:  
1. id: This is meaningless for model training, and will be dropped
2. date: From 2013-01-01 to 2017-08-15
3. store_nbr: conintunous integer from 1 to 54
4. item_nbr: item id, un-continuous integers
5. unit_sale: continuous float number with min=-0.000153 max=89440
6. onpromotion: bool 0 1, and missing entries  

Missing entries only exist in the column 'onpromotion'.

In [2]:
# Load the training dataset
train_data = loaddata('input/train.csv')
print("Training dataset has {} data points with {} variables each.".format(*train_data.shape))

Training dataset has 125497040 data points with 6 variables each.

In [3]:
display(train_data.describe())

                 id     store_nbr      item_nbr    unit_sales   onpromotion
count  1.254970e+08  1.254970e+08  1.254970e+08  1.254970e+08  1.038702e+08
mean   6.274852e+07  2.746458e+01  9.727692e+05  5.319669e+00  7.549226e-02
std    3.622788e+07  1.633051e+01  5.205336e+05  2.306714e+01  2.641840e-01
min    0.000000e+00  1.000000e+00  9.699500e+04 -1.537200e+04  0.000000e+00
25%    3.137426e+07  1.200000e+01  5.223830e+05  2.000000e+00  0.000000e+00
50%    6.274852e+07  2.800000e+01  9.595000e+05  4.000000e+00  0.000000e+00
75%    9.412278e+07  4.300000e+01  1.354380e+06  9.000000e+00  0.000000e+00
max    1.254970e+08  5.400000e+01  2.127114e+06  8.944000e+04  1.000000e+00

In [4]:
for col in train_data.columns:
    print(col, train_data[col].unique(), sep='\n')

id
[        0         1         2 ..., 125497037 125497038 125497039]
date
['2013-01-01' '2013-01-02' '2013-01-03' ..., '2017-08-13' '2017-08-14'
 '2017-08-15']
store_nbr
[25  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 23 24 26 27 28
 30 31 32 33 34 35 37 38 39 40 41 43 44 45 46 47 48 49 50 51 54 36 53 20 29
 21 42 22 52]
item_nbr
[ 103665  105574  105575 ..., 2126944 2123839 2011451]
unit_sales
[   7.            1.            2.         ...,  247.42999268  225.19599915
  114.91699982]
onpromotion
[ nan   1.   0.]

In [5]:
train_data.drop('onpromotion', axis=1).isnull().values.any()

False

### 2. holidays_events.csv  
There are 350 items in holidays_events with 6 variables each.  
Variables are listed below:
1. date: 312 unique dates from 2012-03-02 to 2017-12-26
2. type: ['Holiday', 'Transfer', 'Additional', 'Bridge', 'Work Day', 'Event']
3. locale: ['Local', 'Regional', 'National']
4. locale_name: ['Manta', 'Cotopaxi', 'Cuenca', 'Libertad', 'Riobamba', 'Puyo','Guaranda', 'Imbabura', 'Latacunga', 'Machala', 'Santo Domingo','El Carmen', 'Cayambe', 'Esmeraldas', 'Ecuador', 'Ambato', 'Ibarra','Quevedo', 'Santo Domingo de los Tsachilas', 'Santa Elena', 'Quito','Loja', 'Salinas', 'Guayaquil']
5. description:103 entries (don't understand)
6. transferred: [False,  True]  

There is no missing entries in this dataset.

In [6]:
holidays_events = pd.read_csv("input/holidays_events.csv")
print("Holidays_events has {} data points with {} variables each.".format(*holidays_events.shape))

display(holidays_events.describe())

for col in holidays_events.columns:
    print(col, holidays_events[col].unique(), sep='\n')

holidays_events.isnull().values.any()

Holidays_events has 350 data points with 6 variables each.

              date     type    locale locale_name description transferred
count          350      350       350         350         350         350
unique         312        6         3          24         103           2
top     2014-06-25  Holiday  National     Ecuador    Carnaval       False
freq             4      221       174         174          10         338

date
['2012-03-02' '2012-04-01' '2012-04-12' '2012-04-14' '2012-04-21'
 '2012-05-12' '2012-06-23' '2012-06-25' '2012-07-03' '2012-07-23'
 '2012-08-05' '2012-08-10' '2012-08-15' '2012-08-24' '2012-09-28'
 '2012-10-07' '2012-10-09' '2012-10-12' '2012-11-02' '2012-11-03'
 '2012-11-06' '2012-11-07' '2012-11-10' '2012-11-11' '2012-11-12'
 '2012-12-05' '2012-12-06' '2012-12-08' '2012-12-21' '2012-12-22'
 '2012-12-23' '2012-12-24' '2012-12-25' '2012-12-26' '2012-12-31'
 '2013-01-01' '2013-01-05' '2013-01-12' '2013-02-11' '2013-02-12'
 '2013-03-02' '2013-04-01' '2013-04-12' '2013-04-14' '2013-04-21'
 '2013-04-29' '2013-05-01' '2013-05-11' '2013-05-12' '2013-05-24'
 '2013-06-23' '2013-06-25' '2013-07-03' '2013-07-23' '2013-07-24'
 '2013-07-25' '2013-08-05' '2013-08-10' '2013-08-15' '2013-08-24'
 '2013-09-28' '2013-10-07' '2013-10-09' '2013-10-11' '2013-11-02'
 '2013-11-03' '2013-11-06' '2013-11-07' '2013-11-10' '2013-11-11'
 '2013-11-12' '2013-12-05' '2013-12-06' '2013-12-08' '2013-12-21'
 '2013-12-22' '2013-12-23' '2013-12-24' '2013-12-25' '2013-12-26'
 '2013-12-31' '2014-01-01' '2014-03-02' '2014-03-03' '2014-03-04'
 '2014-04-01' '2014-04-12' '2014-04-14' '2014-04-18' '2014-04-21'
 '2014-05-01' '2014-05-10' '2014-05-11' '2014-05-12' '2014-05-24'
 '2014-06-12' '2014-06-15' '2014-06-20' '2014-06-23' '2014-06-25'
 '2014-06-28' '2014-06-29' '2014-06-30' '2014-07-01' '2014-07-03'
 '2014-07-04' '2014-07-05' '2014-07-08' '2014-07-09' '2014-07-12'
 '2014-07-13' '2014-07-23' '2014-07-24' '2014-07-25' '2014-08-05'
 '2014-08-10' '2014-08-15' '2014-08-24' '2014-09-28' '2014-10-07'
 '2014-10-09' '2014-10-10' '2014-11-02' '2014-11-03' '2014-11-06'
 '2014-11-07' '2014-11-10' '2014-11-11' '2014-11-12' '2014-11-28'
 '2014-12-01' '2014-12-05' '2014-12-06' '2014-12-08' '2014-12-20'
 '2014-12-21' '2014-12-22' '2014-12-23' '2014-12-24' '2014-12-25'
 '2014-12-26' '2014-12-31' '2015-01-01' '2015-01-02' '2015-01-10'
 '2015-02-16' '2015-02-17' '2015-03-02' '2015-04-01' '2015-04-03'
 '2015-04-12' '2015-04-14' '2015-04-21' '2015-05-01' '2015-05-09'
 '2015-05-10' '2015-05-12' '2015-05-24' '2015-06-23' '2015-06-25'
 '2015-07-03' '2015-07-23' '2015-07-24' '2015-07-25' '2015-08-05'
 '2015-08-10' '2015-08-15' '2015-08-24' '2015-09-28' '2015-10-07'
 '2015-10-09' '2015-11-02' '2015-11-03' '2015-11-06' '2015-11-07'
 '2015-11-10' '2015-11-11' '2015-11-12' '2015-11-27' '2015-11-30'
 '2015-12-05' '2015-12-06' '2015-12-08' '2015-12-21' '2015-12-22'
 '2015-12-23' '2015-12-24' '2015-12-25' '2015-12-26' '2015-12-31'
 '2016-01-01' '2016-02-08' '2016-02-09' '2016-03-02' '2016-03-25'
 '2016-04-01' '2016-04-12' '2016-04-14' '2016-04-16' '2016-04-17'
 '2016-04-18' '2016-04-19' '2016-04-20' '2016-04-21' '2016-04-22'
 '2016-04-23' '2016-04-24' '2016-04-25' '2016-04-26' '2016-04-27'
 '2016-04-28' '2016-04-29' '2016-04-30' '2016-05-01' '2016-05-02'
 '2016-05-03' '2016-05-04' '2016-05-05' '2016-05-06' '2016-05-07'
 '2016-05-08' '2016-05-09' '2016-05-10' '2016-05-11' '2016-05-12'
 '2016-05-13' '2016-05-14' '2016-05-15' '2016-05-16' '2016-05-24'
 '2016-05-27' '2016-06-23' '2016-06-25' '2016-07-03' '2016-07-23'
 '2016-07-24' '2016-07-25' '2016-08-05' '2016-08-10' '2016-08-12'
 '2016-08-15' '2016-08-24' '2016-09-28' '2016-10-07' '2016-10-09'
 '2016-11-02' '2016-11-03' '2016-11-04' '2016-11-06' '2016-11-07'
 '2016-11-10' '2016-11-11' '2016-11-12' '2016-11-25' '2016-11-28'
 '2016-12-05' '2016-12-06' '2016-12-08' '2016-12-21' '2016-12-22'
 '2016-12-23' '2016-12-24' '2016-12-25' '2016-12-26' '2016-12-31'
 '2017-01-01' '2017-01-02' '2017-02-27' '2017-02-28' '2017-03-02'
 '2017-04-01' '2017-04-12' '2017-04-13' '2017-04-14' '2017-04-21'
 '2017-05-01' '2017-05-12' '2017-05-13' '2017-05-14' '2017-05-24'
 '2017-05-26' '2017-06-23' '2017-06-25' '2017-07-03' '2017-07-23'
 '2017-07-24' '2017-07-25' '2017-08-05' '2017-08-10' '2017-08-11'
 '2017-08-15' '2017-08-24' '2017-09-28' '2017-09-29' '2017-10-07'
 '2017-10-09' '2017-11-02' '2017-11-03' '2017-11-06' '2017-11-07'
 '2017-11-10' '2017-11-11' '2017-11-12' '2017-12-05' '2017-12-06'
 '2017-12-08' '2017-12-21' '2017-12-22' '2017-12-23' '2017-12-24'
 '2017-12-25' '2017-12-26']
type
['Holiday' 'Transfer' 'Additional' 'Bridge' 'Work Day' 'Event']
locale
['Local' 'Regional' 'National']
locale_name
['Manta' 'Cotopaxi' 'Cuenca' 'Libertad' 'Riobamba' 'Puyo' 'Guaranda'
 'Imbabura' 'Latacunga' 'Machala' 'Santo Domingo' 'El Carmen' 'Cayambe'
 'Esmeraldas' 'Ecuador' 'Ambato' 'Ibarra' 'Quevedo'
 'Santo Domingo de los Tsachilas' 'Santa Elena' 'Quito' 'Loja' 'Salinas'
 'Guayaquil']
description
['Fundacion de Manta' 'Provincializacion de Cotopaxi' 'Fundacion de Cuenca'
 'Cantonizacion de Libertad' 'Cantonizacion de Riobamba'
 'Cantonizacion del Puyo' 'Cantonizacion de Guaranda'
 'Provincializacion de Imbabura' 'Cantonizacion de Latacunga'
 'Fundacion de Machala' 'Fundacion de Santo Domingo'
 'Cantonizacion de El Carmen' 'Cantonizacion de Cayambe'
 'Fundacion de Esmeraldas' 'Primer Grito de Independencia'
 'Fundacion de Riobamba' 'Fundacion de Ambato' 'Fundacion de Ibarra'
 'Cantonizacion de Quevedo' 'Independencia de Guayaquil'
 'Traslado Independencia de Guayaquil' 'Dia de Difuntos'
 'Independencia de Cuenca' 'Provincializacion de Santo Domingo'
 'Provincializacion Santa Elena' 'Independencia de Guaranda'
 'Independencia de Latacunga' 'Independencia de Ambato'
 'Fundacion de Quito-1' 'Fundacion de Quito' 'Fundacion de Loja'
 'Navidad-4' 'Cantonizacion de Salinas' 'Navidad-3' 'Navidad-2'
 'Puente Navidad' 'Navidad-1' 'Navidad' 'Navidad+1'
 'Puente Primer dia del ano' 'Primer dia del ano-1' 'Primer dia del ano'
 'Recupero puente Navidad' 'Recupero puente primer dia del ano' 'Carnaval'
 'Viernes Santo' 'Dia del Trabajo' 'Dia de la Madre-1' 'Dia de la Madre'
 'Batalla de Pichincha' 'Fundacion de Guayaquil-1' 'Fundacion de Guayaquil'
 'Inauguracion Mundial de futbol Brasil'
 'Mundial de futbol Brasil: Ecuador-Suiza'
 'Mundial de futbol Brasil: Ecuador-Honduras'
 'Mundial de futbol Brasil: Ecuador-Francia'
 'Mundial de futbol Brasil: Octavos de Final'
 'Mundial de futbol Brasil: Cuartos de Final'
 'Mundial de futbol Brasil: Semifinales'
 'Mundial de futbol Brasil: Tercer y cuarto lugar'
 'Mundial de futbol Brasil: Final' 'Black Friday' 'Cyber Monday'
 'Recupero Puente Navidad' 'Recupero Puente Primer dia del ano'
 'Terremoto Manabi' 'Terremoto Manabi+1' 'Terremoto Manabi+2'
 'Terremoto Manabi+3' 'Terremoto Manabi+4' 'Terremoto Manabi+5'
 'Terremoto Manabi+6' 'Terremoto Manabi+7' 'Terremoto Manabi+8'
 'Terremoto Manabi+9' 'Terremoto Manabi+10' 'Terremoto Manabi+11'
 'Terremoto Manabi+12' 'Terremoto Manabi+13' 'Terremoto Manabi+14'
 'Terremoto Manabi+15' 'Terremoto Manabi+16' 'Terremoto Manabi+17'
 'Terremoto Manabi+18' 'Terremoto Manabi+19' 'Terremoto Manabi+20'
 'Terremoto Manabi+21' 'Terremoto Manabi+22' 'Terremoto Manabi+23'
 'Terremoto Manabi+24' 'Terremoto Manabi+25' 'Terremoto Manabi+26'
 'Terremoto Manabi+27' 'Terremoto Manabi+28' 'Terremoto Manabi+29'
 'Terremoto Manabi+30' 'Traslado Batalla de Pichincha'
 'Traslado Fundacion de Guayaquil' 'Traslado Primer Grito de Independencia'
 'Puente Dia de Difuntos' 'Recupero Puente Dia de Difuntos'
 'Traslado Primer dia del ano' 'Traslado Fundacion de Quito']
transferred
[False  True]

False

### 3. stores.csv  
There are 54 items in holidays_events with 5 variables each.  
Variables are listed below:
1. store_nbr: [ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54]
2. city: ['Quito', 'Santo Domingo', 'Cayambe', 'Latacunga', 'Riobamba', 'Ibarra', 'Guaranda', 'Puyo', 'Ambato', 'Guayaquil', 'Salinas', 'Daule', 'Babahoyo', 'Quevedo', 'Playas', 'Libertad', 'Cuenca', 'Loja', 'Machala', 'Esmeraldas', 'Manta', 'El Carmen']
3. state: ['Pichincha', 'Santo Domingo de los Tsachilas', 'Cotopaxi', 'Chimborazo', 'Imbabura', 'Bolivar', 'Pastaza', 'Tungurahua', 'Guayas', 'Santa Elena', 'Los Rios', 'Azuay', 'Loja', 'El Oro', 'Esmeraldas', 'Manabi']
4. type: ['D', 'B', 'C', 'E', 'A']
5. cluster: [13,  8,  9,  4,  6, 15,  7,  3, 12, 16,  1, 10,  2,  5, 11, 14, 17]

There is no missing entries in this dataset.

In [7]:
stores = pd.read_csv("input/stores.csv")
print("Stores has {} data points with {} variables each.".format(*stores.shape))

display(stores.describe())

for col in stores.columns:
    print(col, stores[col].unique(), sep='\n')

stores.isnull().values.any()

Stores has 54 data points with 5 variables each.

       store_nbr    cluster
count  54.000000  54.000000
mean   27.500000   8.481481
std    15.732133   4.693395
min     1.000000   1.000000
25%    14.250000   4.000000
50%    27.500000   8.500000
75%    40.750000  13.000000
max    54.000000  17.000000

store_nbr
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25
 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50
 51 52 53 54]
city
['Quito' 'Santo Domingo' 'Cayambe' 'Latacunga' 'Riobamba' 'Ibarra'
 'Guaranda' 'Puyo' 'Ambato' 'Guayaquil' 'Salinas' 'Daule' 'Babahoyo'
 'Quevedo' 'Playas' 'Libertad' 'Cuenca' 'Loja' 'Machala' 'Esmeraldas'
 'Manta' 'El Carmen']
state
['Pichincha' 'Santo Domingo de los Tsachilas' 'Cotopaxi' 'Chimborazo'
 'Imbabura' 'Bolivar' 'Pastaza' 'Tungurahua' 'Guayas' 'Santa Elena'
 'Los Rios' 'Azuay' 'Loja' 'El Oro' 'Esmeraldas' 'Manabi']
type
['D' 'B' 'C' 'E' 'A']
cluster
[13  8  9  4  6 15  7  3 12 16  1 10  2  5 11 14 17]

False

### 4. oil.csv  
There are 1218 items in holidays_events with 2 variables each.  
Variables are listed below:
1. date: from 2013-01-01 to 2017-08-31
2. dcoilwtico: continuous value from 26.19~110.62

There is 1 missing entries in this dataset.

In [8]:
oil = pd.read_csv("input/oil.csv")
print("Oil has {} data points with {} variables each.".format(*oil.shape))

display(oil.describe())

for col in oil.columns:
    print(col, oil[col].unique(), sep='\n')

oil.isnull().values.any()

Oil has 1218 data points with 2 variables each.

        dcoilwtico
count  1175.000000
mean     67.714366
std      25.630476
min      26.190000
25%      46.405000
50%      53.190000
75%      95.660000
max     110.620000

date
['2013-01-01' '2013-01-02' '2013-01-03' ..., '2017-08-29' '2017-08-30'
 '2017-08-31']
dcoilwtico
[    nan   93.14   92.97   93.12   93.2    93.21   93.08   93.81   93.6
   94.27   93.26   94.28   95.49   95.61   96.09   95.06   95.35   95.15
   95.95   97.62   97.98   97.65   97.46   96.21   96.68   96.44   95.84
   95.71   97.01   97.48   97.03   97.3    96.69   94.92   92.79   92.74
   92.63   92.84   92.03   90.71   90.13   90.88   90.47   91.53   92.01
   92.07   92.44   92.47   93.03   93.49   93.71   92.46   93.41   94.55
   95.99   96.53   97.24   97.1    97.23   95.02   92.76   93.36   94.18
   94.59   93.44   91.23   88.75   88.73   86.65   87.83   88.04   88.81
   89.21   91.07   93.27   94.09   93.22   90.74   93.7    95.25   95.8
   95.28   96.24   95.81   94.76   93.96   93.95   94.85   95.72   96.29
   95.55   93.98   94.12   93.84   94.65   93.13   93.57   91.93   93.66
   94.71   96.11   95.82   95.5    95.98   96.66   97.83   97.86   98.46
   98.24   94.89   95.07   95.47   97.     96.36   97.94   99.65  101.92
  103.09  103.03  103.46  106.41  104.77  105.85  106.2   105.88  106.39
  107.94  108.    106.61  107.13  105.41  105.47  104.76  104.61  103.14
  105.1   107.93  106.94  105.32  104.41  103.45  106.04  106.19  106.78
  106.89  107.43  107.58  107.14  104.9   103.93  104.93  106.48  109.11
  110.17  108.51  107.98  108.67  107.29  108.5   110.62  109.62  107.48
  107.65  108.72  108.31  106.54  105.36  108.23  106.26  104.7   103.62
  103.22  102.68  103.1   102.86  102.36  102.09  104.15  103.29  103.83
  103.07  103.54  101.63  103.08  102.17  102.46  101.15  102.34  100.72
  100.87   99.28   97.63   96.9    96.65   97.4    98.74   98.29   96.81
   94.56   94.58   93.4    94.74   94.25   95.13   93.91   93.76   93.8
   93.35   93.34   94.53   93.86   92.05   92.55   93.61   95.83   96.97
   97.14   98.32   97.25   97.21   96.27   97.18   96.99   97.59   98.4
   99.11   98.62   98.87   99.18   99.94   98.9    98.17   95.14   93.31
   91.9    91.36   92.39   91.45   92.15   93.78   93.54   94.51   96.35
   97.49   97.34   98.25   97.55   97.84   99.98  100.12   99.96  100.38
  100.27  100.31  102.54  103.2   102.53  103.17  102.2   102.93  102.88
  105.34  103.64  101.75  101.82  102.82  101.39  100.29   98.57   99.23
   98.43  100.08  100.71   99.68   99.97  100.05   99.66  100.61  101.25
  101.73  101.57   99.69   99.6   101.16  100.43  102.57  103.55  103.37
  103.68  104.05  103.7   103.71  104.33  104.35  101.69  101.47  100.85
  101.13  101.56  100.07  100.09   99.74   99.81  101.06  100.52  100.32
  100.89  102.01  102.63  101.74  102.31  102.95  102.8   104.31  104.03
  105.01  104.78  104.26  103.4   103.34  103.27  103.32  105.09  105.02
  105.04  107.2   107.49  107.52  106.95  106.64  107.08  107.95  106.83
  107.04  106.49  106.46  106.07  106.06  105.18  104.19  104.06  103.61
  101.48  100.56  101.88  103.84  104.59  103.81  102.76  105.23  105.68
  104.91  104.29   98.23   98.26   96.93   97.61   98.09   97.36   97.57
   95.54   94.35   96.4    93.97   95.39   95.78   92.92   93.32   92.64
   92.73   91.71   92.89   92.18   92.86   94.91   94.33   93.07   92.43
   91.46   91.55   93.59   91.17   91.02   89.76   90.33   88.89   87.29
   85.76   85.87   85.73   81.72   81.82   82.33   82.8    82.76   83.25
   80.52   82.81   81.27   81.26   81.36   82.25   81.06   80.53   78.77
   77.15   78.71   77.87   77.43   77.85   77.16   74.13   75.91   75.64
   74.55   75.63   76.52   75.74   74.04   73.7    65.94   68.98   66.99
   67.3    66.73   65.89   63.13   63.74   60.99   60.01   57.81   55.96
   55.97   56.43   54.18   56.91   55.25   56.78   55.7    54.59   53.46
   54.14   53.45   52.72   50.05   47.98   48.69   48.8    48.35   46.06
   45.92   48.49   46.37   46.79   47.85   45.93   45.26   44.8    45.84
   44.08   44.12   47.79   49.25   53.04   48.45   50.48   51.66   52.99
   50.06   51.17   52.66   53.56   52.13   51.12   49.95   49.56   48.48
   50.25   47.65   49.84   49.59   50.43   51.53   50.76   49.61   48.42
   48.06   47.12   44.88   43.93   43.39   44.63   44.02   46.     47.4
   47.03   48.75   51.41   48.83   48.66   47.72   50.12   49.13   52.08
   53.95   50.44   50.79   51.63   51.95   53.3    56.25   56.69   55.71
   56.37   55.58   56.17   56.59   55.98   55.56   57.05   58.55   59.62
   59.1    58.92   60.38   60.93   58.99   59.41   59.23   60.72   60.5
   59.89   59.73   59.44   57.3    58.96   60.18   58.88   57.29   57.51
   57.69   60.25   60.24   61.3    59.67   58.     59.11   58.15   60.15
   61.36   60.74   59.96   59.53   60.41   61.05   59.59   58.34   59.48
   56.94   56.93   52.48   52.33   51.61   52.76   52.74   52.19   53.05
   51.4    50.9    50.88   50.11   50.59   49.27   48.11   47.17   47.97
   48.77   48.53   47.11   45.25   45.75   45.13   44.69   43.87   44.94
   43.11   43.22   42.27   42.45   41.93   42.58   40.75   41.     40.45
   38.22   39.15   38.5    42.47   45.29   49.2    45.38   46.3    46.75
   46.02   44.13   45.85   44.75   44.07   44.58   46.93   44.71   46.67
   46.17   44.53   45.55   44.4    45.24   45.06   45.54   46.28   47.86
   49.46   49.67   47.09   46.7    46.63   46.38   47.3    45.91   45.22
   44.9    43.91   43.19   43.21   46.6    46.12   47.88   46.32   45.27
   44.32   44.23   42.95   41.74   40.69   41.68   40.73   40.55   39.39
   39.27   40.89   41.22   40.57   40.43   40.58   39.93   41.08   40.
   37.64   37.46   37.16   36.76   35.65   36.31   37.32   35.55   34.98
   34.72   34.55   36.12   37.62   36.36   37.88   36.59   37.13   36.81
   35.97   33.97   33.29   33.2    31.42   30.42   31.22   29.45   28.47
   26.68   29.55   32.07   30.31   29.54   32.32   33.21   33.66   31.62
   29.9    32.29   31.63   30.86   29.71   27.96   27.54   26.19   29.32
   29.05   30.68   30.77   29.59   31.37   31.84   30.35   31.4    31.65
   32.74   34.39   34.57   34.56   35.91   37.9    36.67   37.77   38.51
   37.2    36.32   38.43   40.17   39.47   39.91   41.45   38.28   38.14
   37.99   36.91   36.94   35.36   34.3    34.52   37.74   37.3    39.74
   40.46   42.12   41.7    40.4    40.88   42.72   43.18   42.76   41.67
   42.52   46.03   45.98   43.65   43.77   44.33   43.45   44.68   46.21
   46.64   46.22   48.29   48.12   48.16   47.67   48.04   49.1    49.
   49.36   49.07   49.14   49.71   50.37   51.23   50.52   49.09   48.89
   47.92   46.14   48.     49.4    48.95   49.16   49.34   45.8    47.93
   49.85   48.27   49.02   46.73   47.37   45.37   44.73   46.82   44.87
   45.64   45.23   44.64   44.96   43.96   43.41   42.4    42.16   41.9
   41.13   41.54   40.05   39.5    40.8    41.92   41.83   43.06   42.78
   41.75   43.51   44.47   45.72   46.57   46.81   48.2    46.8    47.54
   46.29   46.97   47.64   43.17   44.39   44.85   45.47   47.63   45.88
   44.91   43.62   43.85   43.04   43.34   45.33   46.1    44.36   45.6
   44.65   47.07   48.67   49.75   49.76   50.72   50.14   50.47   50.35
   49.97   50.3    51.59   50.31   50.61   50.18   49.45   48.72   46.83
   46.66   45.32   44.66   45.2    44.62   43.29   45.86   45.56   45.69
   47.48   48.07   46.72   45.66   49.41   51.08   51.7    51.72   50.95
   50.84   51.51   51.01   51.93   52.22   51.44   51.98   52.01   52.82
   54.01   53.8    53.75   52.36   53.26   53.77   53.98   50.82   53.01
   52.45   51.39   52.77   52.38   52.14   53.24   53.18   52.63   52.75
   53.9    53.55   53.81   52.37   53.84   52.96   53.21   53.11   53.41
   54.02   53.61   54.48   53.99   54.04   54.     53.82   53.33   53.19
   52.68   49.83   48.05   47.95   47.24   48.34   48.3    47.02   47.29
   47.     48.36   49.47   50.54   50.99   51.14   51.69   52.25   53.06
   53.38   53.12   52.62   52.46   50.49   50.26   49.64   48.9    49.22
   48.96   49.31   46.23   46.46   47.28   47.81   47.83   48.86   48.64
   49.04   50.32   50.81   48.57   49.58   49.63   48.32   47.68   48.13
   45.68   45.82   46.41   44.79   44.24   42.48   42.53   42.86   43.24
   44.25   44.74   45.11   45.52   45.48   46.53   46.4    47.1    45.78
   47.77   48.58   49.05   49.72   50.21   49.19   49.6    49.03   49.57
   49.37   48.54   48.81   47.59   47.57   48.59   47.39   45.96   47.26]

True

### 5. transactions.csv

There are 83488 items in holidays_events with 3 variables each.  
Variables are listed below:
1. date: from 2013-01-01 to 2017-08-15
2. store_nbr: 54 store numbers
2. transactions: integers between 5 and 8358

There is 1 missing entries in this dataset.

In [9]:
transactions = pd.read_csv("input/transactions.csv")
print("transactions has {} data points with {} variables each.".format(*transactions.shape))

display(transactions.describe())

for col in transactions.columns:
    print(col, transactions[col].unique(), sep='\n')

transactions.isnull().values.any()

transactions has 83488 data points with 3 variables each.

          store_nbr  transactions
count  83488.000000  83488.000000
mean      26.939237   1694.602158
std       15.608204    963.286644
min        1.000000      5.000000
25%       13.000000   1046.000000
50%       27.000000   1393.000000
75%       40.000000   2079.000000
max       54.000000   8359.000000

date
['2013-01-01' '2013-01-02' '2013-01-03' ..., '2017-08-13' '2017-08-14'
 '2017-08-15']
store_nbr
[25  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 23 24 26 27 28
 30 31 32 33 34 35 37 38 39 40 41 43 44 45 46 47 48 49 50 51 54 36 53 20 29
 21 42 22 52]
transactions
[ 770 2111 2358 ..., 4553 4400 4392]

False

### 6. items.csv  
There are 4100 items in holidays_events with 4 variables each.  
Variables are listed below:
1. item_nbr: 4100 discrete values
2. family: ['GROCERY I' 'CLEANING' 'BREAD/BAKERY' 'DELI' 'POULTRY' 'EGGS'
 'PERSONAL CARE' 'LINGERIE' 'BEVERAGES' 'AUTOMOTIVE' 'DAIRY' 'GROCERY II'
 'MEATS' 'FROZEN FOODS' 'HOME APPLIANCES' 'SEAFOOD' 'PREPARED FOODS'
 'LIQUOR,WINE,BEER' 'BEAUTY' 'HARDWARE' 'LAWN AND GARDEN' 'PRODUCE'
 'HOME AND KITCHEN II' 'HOME AND KITCHEN I' 'MAGAZINES' 'HOME CARE'
 'PET SUPPLIES' 'BABY CARE' 'SCHOOL AND OFFICE SUPPLIES'
 'PLAYERS AND ELECTRONICS' 'CELEBRATION' 'LADIESWEAR' 'BOOKS']
3. class: 337 discrete values
4. perishable: 0 and 1
There is no missing entries in this dataset.

In [10]:
items = pd.read_csv("input/items.csv")
print("items has {} data points with {} variables each.".format(*items.shape))

display(items.describe())

for col in items.columns:
    print(col, items[col].unique(), sep='\n')

items.isnull().values.any()

items has 4100 data points with 4 variables each.

           item_nbr      class   perishable
count  4.100000e+03  4100.0000  4100.000000
mean   1.251436e+06  2169.6500     0.240488
std    5.876872e+05  1484.9109     0.427432
min    9.699500e+04  1002.0000     0.000000
25%    8.181108e+05  1068.0000     0.000000
50%    1.306198e+06  2004.0000     0.000000
75%    1.904918e+06  2990.5000     0.000000
max    2.134244e+06  7780.0000     1.000000

item_nbr
[  96995   99197  103501 ..., 2132957 2134058 2134244]
family
['GROCERY I' 'CLEANING' 'BREAD/BAKERY' 'DELI' 'POULTRY' 'EGGS'
 'PERSONAL CARE' 'LINGERIE' 'BEVERAGES' 'AUTOMOTIVE' 'DAIRY' 'GROCERY II'
 'MEATS' 'FROZEN FOODS' 'HOME APPLIANCES' 'SEAFOOD' 'PREPARED FOODS'
 'LIQUOR,WINE,BEER' 'BEAUTY' 'HARDWARE' 'LAWN AND GARDEN' 'PRODUCE'
 'HOME AND KITCHEN II' 'HOME AND KITCHEN I' 'MAGAZINES' 'HOME CARE'
 'PET SUPPLIES' 'BABY CARE' 'SCHOOL AND OFFICE SUPPLIES'
 'PLAYERS AND ELECTRONICS' 'CELEBRATION' 'LADIESWEAR' 'BOOKS']
class
[1093 1067 3008 1028 2712 1045 1034 1044 1092 1032 1030 1075 2636 2644 3044
 1004 2416 2502 1062 3024 1072 1016 4126 3034 1014 1040 1084 7034 1056 3090
 3026 1042 1122 6810 2124 3020 2114 1026 2112 1096 2704 2708 1013 3038 1048
 2116 3032 1124 1066 2718 1236 1080 3004 1058 6824 1136 3016 1006 2302 1010
 2632 2226 2412 1078 1074 1036 3046 3022 3018 1035 2104 1086 1039 6155 2806
 1120 1002 2218 2220 1060 2986 2720 3014 6806 4114 1087 3015 2702 3006 2752
 2652 2630 2640 3010 3012 1024 1038 2716 1076 2966 1386 2102 7016 2980 2962
 3030 1079 1012 2690 1070 2662 3005 2142 2960 1054 4122 2850 4222 1033 2306
 1336 2756 1330 2664 4214 2956 3028 1338 2802 4254 2722 1027 2642 2854 2222
 1005 2228 2238 3060 1318 3040 1320 2214 6706 2304 1025 2128 6920 2130 1008
 3029 3035 2750 1088 2784 1302 2646 6918 2108 1094 1064 4252 2904 2372 7002
 1314 1126 2210 1022 2714 2156 1138 1003 1364 1380 1029 2504 1132 2242 2654
 2122 2246 2070 1077 1312 6954 4118 4176 4104 4138 4162 4140 4130 4141 2174
 2152 2164 2162 2166 2170 2420 2172 2864 4250 2506 2786 1326 2782 2103 2650
 6329 6338 6257 6212 6330 6267 6269 6238 6352 6223 6246 6206 6260 6232 6322
 6350 6328 6258 6262 6266 6301 6253 1046 1387 6344 6353 4139 2340 5224 1152
 1153 3106 3110 3108 3102 3104 1310 1116 1118 1114 1190 1148 1146 1144 1115
 2970 6516 6517 2006 2028 2008 2010 2032 2034 2012 2014 2004 2016 2002 2020
 2018 2022 6022 6482 5446 5322 5324 2030 6404 6448 7780 2026 6412 2954 5308
 6414 5325 6808 6426 6392 6230 6222 6393 4210 2024 4255 4212 5222 1018 1142
 2074 4228 2178 6848 2168 6242 1089 1150 3116 6248 6241 6233 5250 5244 1052
 1082 1050 1068 1083 1063 1154 1073 2208 5192 4198 1041 6922 6936 6924 6960
 1316 2906 1156 1334 1370 1306 1328]
perishable
[0 1]

False

### test.csv

In [11]:
test_data = pd.read_csv("input/test.csv")
print("Favorita grocery sales forecasting testing data has {} samples with {} features each.".format(*test_data.shape))
display(test_data.head(5))

Favorita grocery sales forecasting testing data has 3370464 samples with 5 features each.

          id        date  store_nbr  item_nbr  onpromotion
0  125497040  2017-08-16          1     96995        False
1  125497041  2017-08-16          1     99197        False
2  125497042  2017-08-16          1    103501        False
3  125497043  2017-08-16          1    103520        False
4  125497044  2017-08-16          1    103665        False

### sample_submission.csv

In [12]:
sample_submission = pd.read_csv("input/sample_submission.csv")
display(sample_submission.head(n=5))
sample_submission.dtypes

          id  unit_sales
0  125497040           0
1  125497041           0
2  125497042           0
3  125497043           0
4  125497044           0

id            int64
unit_sales    int64
dtype: object